.book {
  &_img {
    width: 200px;
  }
  &_title {
    font-weight: 800;
    font-size: 34px;
  }
}
.info {
  margin-left: 30px;
}
.desc {
  text-align: center !important;
  color: gray;
}
.shortInfo {
  &:before {
    content: "";
    background: orangered;
    border: 4px solid orangered;
    position: relative;
    margin-right: 10px;
  }
}
.orangered {
  color: orangered;
}
.gray {
  color: gray;
}
.red {
  color: red;
}
